<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoomManegerApp.Properties.Settings.room_managerConnectionString"
            connectionString="Data Source=DESKTOP-GK5VJ4R;Initial Catalog=room_manager;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="RoomManegerApp.Properties.Settings.QLKSConnectionString"
            connectionString="Data Source=DESKTOP-DGS0JSE\SQL2022;Initial Catalog=QLKS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>